<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Listar Usuários</title>
</head>
<body>
    <h1>Listar Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <hr>
        <tbody>
            
            {% for user in users %}
                {% include 'item_usuarios.html' %}
            {% endfor %}

        </tbody>
    </table>
</body>
</html>